/*======= Common =======*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
	--color-primary: #4402ff;
	--color-primary-2: #ff5a1d;
	--color-secondary: #292929;
	--color-body: #555555;
	--color-white: #fff;
	--color-black: #000000;
	--color-grey: #fafafa;
	--color-dark-bg: #111111;
	--color-dark-body: #cfcfcf;
	--color-dark-heading: #e7e7e7;
	--font-oswald: "Oswald", sans-serif;
	--font-roboto: "Roboto", sans-serif;
}

body {
	color: var(--color-body);
	font-family: var(--font-roboto);
	font-weight: normal;
	font-size: 16px;
	line-height: 1.9;
	overflow-x: hidden !important;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.slick-slide img {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-oswald);
	font-weight: 700;
	line-height: 1.2;
	color: var(--color-secondary);
	margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--color-secondary);
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

p {
	margin: 0px;
}

a {
	color: var(--color-primary);
	display: inline-block;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

a:hover {
	color: var(--color-secondary);
	text-decoration: none;
}

a:focus {
	text-decoration: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a,
span {
	display: inline-block;
}

.slick-initialized .slick-slide:focus {
	text-decoration: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*======= Input Fields =======*/
::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}

::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}

::placeholder {
	color: inherit;
	opacity: 1;
}

input,
textarea,
select {
	width: 100%;
	height: 60px;
	border-radius: 0;
	border: 1px solid #d3d3d4;
	padding: 0px 20px;
	font-size: 16px;
	color: var(--color-body);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	color: var(--color-secondary);
	border-color: var(--color-secondary);
}

textarea {
	height: 195px;
	padding-top: 15px;
	display: block;
}

label {
	font-family: var(--font-oswald);
	font-size: 14px;
	color: var(--color-secondary);
	line-height: 1.4;
	text-transform: uppercase;
	margin: 0 0 12px;
	cursor: pointer;
}

/*======= Common Spacing =======*/
.section-gap {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-gap-top {
	padding-top: 120px;
}

.section-gap-bottom {
	padding-bottom: 120px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

/*======= Color & Bg =======*/
.bg-black-color {
	background-color: var(--color-black);
}

.bg-grey-color {
	background-color: var(--color-grey);
}

.bg-primary-color {
	background-color: var(--color-primary);
}

.bg-secondary-color {
	background-color: var(--color-secondary);
}

/*======= Main Button =======*/
.main-btn {
	border: none;
	border-radius: 10px;
	line-height: 1;
	color: var(--color-white);
	background-color: var(--color-primary);
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: var(--font-roboto);
	padding: 20px 40px;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.main-btn:hover {
	background-color: var(--color-secondary);
	color: var(--color-white);
}

/*======= Template Header =======*/
.template-header {
	background-color: transparent;
	padding: 35px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.template-header.scroll-on {
	padding: 25px 0;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background-color: var(--color-white);
	-webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
	box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
.template-header .main-btn{
	padding: 14px 28px;
	font-size: 16px;
	border-radius: 5px;
	margin-inline-end: 10px;
}
.template-header select{
	height: auto;
	width: auto;
	padding: 12px 22px;
	font-size: 16px;
}
.template-header .container-fluid {
	max-width: 1800px;
}

.template-header .navbar {
	padding: 0;
}

.navbar-nav {
	margin-left: 100px;
}

.template-header .navbar-brand {
	padding: 0;
	display: block;
	font-size: unset;
	line-height: 1;
}

.template-header .navbar-nav .nav-link {
	color: var(--color-secondary);
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.template-header .navbar-nav .nav-item.active a,
.template-header .navbar-nav .nav-link:focus,
.template-header .navbar-nav .nav-link:hover {
	opacity: 1;
	color: var(--color-primary);
}

.template-header .navbar-nav .nav-item {
	margin-left: 20px;
}

.template-header .navbar-toggler {
	border: none;
	padding: 0;
	opacity: 1;
	border: 1px solid var(--color-secondary);
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 45px;
	height: 40px;
	margin-left: auto;
}

.template-header .navbar-toggler:active,
.template-header .navbar-toggler:focus {
	outline: none;
}

.template-header .navbar-toggler-icon {
	width: 25px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid var(--color-secondary);
	-webkit-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.template-header .navbar-toggler-icon:after,
.template-header .navbar-toggler-icon:before {
	width: 25px;
	position: absolute;
	height: 1px;
	background-color: var(--color-secondary);
	top: 0;
	left: 0;
	content: "";
	z-index: 2;
	-webkit-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.template-header .navbar-toggler-icon:after {
	top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	-webkit-transform: translateY(8px) rotate(-45deg);
	-ms-transform: translateY(8px) rotate(-45deg);
	transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.language-dropdown {
	position: relative;
}

.selected-flag img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid var(--color-white);
}

.selected-flag i {
	font-size: 20px;
	color: var(--color-white);
	margin-left: 20px;
}

.selected-flag {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.language-list {
	position: absolute;
	right: 0;
	width: 170px;
	top: 200%;
	background-color: #000;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
}

.language-list.show-list {
	visibility: visible;
	opacity: 1;
	top: 175%;
}

.language-list li a {
	padding: 10px 20px;
	font-size: 15px;
	color: var(--color-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.language-list li a img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.language-list li:not(:last-child) {
	border-bottom: 1px solid #ffffff1f;
}

/*======= Section Heading =======*/
.section-heading .tagline {
	font-family: var(--font-oswald);
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	color: var(--color-black);
	position: relative;
	z-index: 1;
	text-transform: uppercase;
}

.section-heading .tagline::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 6px;
	width: 100%;
	background: var(--color-primary);
	z-index: -1;
	opacity: 0.44;
}

.section-heading .title {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.4;
}

.section-heading.heading-white .tagline,
.section-heading.heading-white .title {
	color: var(--color-white);
}

.section-heading.heading-white .tagline::before {
	background: var(--color-white);
}

/*======= Hero Area =======*/
.hero-area {
	position: relative;
	z-index: 1;
	padding-top: 315px;
	padding-bottom: 200px;
	overflow: hidden;
}

.hero-area::before {
	content: "";
	position: absolute;
	left: -190px;
	top: -165px;
	width: 835px;
	height: 805px;
	border-radius: 83px;
	background: -webkit-gradient(linear, left top, left bottom, from(#4402ff), color-stop(100.95%, #7f18f9));
	background: -o-linear-gradient(top, #4402ff 0%, #7f18f9 100.95%);
	background: linear-gradient(180deg, #4402ff 0%, #7f18f9 100.95%);
	-webkit-transform: rotate(-37.58deg);
	-ms-transform: rotate(-37.58deg);
	transform: rotate(-37.58deg);
	opacity: 0.04;
}

.hero-area .hero-img {
	position: absolute;
	width: 840px;
	height: 790px;
	right: -90px;
	top: -145px;
	border-radius: 128px;
	-webkit-transform: rotate(-36.23deg);
	-ms-transform: rotate(-36.23deg);
	transform: rotate(-36.23deg);
	z-index: -1;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.hero-area .hero-img::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: var(--color-secondary);
	opacity: 0.4;
	border-radius: 128px;
}

.hero-area .hero-img::after {
	content: "";
	position: absolute;
	z-index: 2;
	width: 175px;
	height: 165px;
	left: 0;
	bottom: 0;
	background: var(--color-primary);
	border-radius: 0px 70px 0px 98.0457px;
}

.hero-content .hero-title {
	font-size: 70px;
	line-height: 1.1;
	margin-bottom: 35px;
}

.hero-content p {
	font-size: 23px;
	color: var(--color-secondary);
	margin-bottom: 45px;
}

.hero-content p b {
	font-weight: normal;
}

.hero-content .cd-headline.clip .cd-words-wrapper::after {
	background-color: var(--color-body);
}

/*======= About =======*/
.about-img {
	position: relative;
	padding: 55px 30px 0 55px;
}

.about-img img {
	width: 100%;
}

.about-img::before,
.about-img::after {
	content: "";
	position: absolute;
	border-radius: 12px;
}

.about-img::before {
	right: 30px;
	top: 0;
	width: 100px;
	height: 18px;
	background-color: var(--color-primary-2);
}

.about-img::after {
	left: 0;
	bottom: 0;
	height: 100px;
	width: 18px;
	background-color: var(--color-primary);
}

.about-text {
	padding-left: 70px;
}

.about-text .about-list {
	margin-top: 30px;
}

.about-text .about-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.about-text .about-list li:not(:last-child) {
	margin-bottom: 20px;
}

.about-text .about-list li .count {
	width: 54px;
	height: 54px;
	border-radius: 9px;
	background-color: var(--color-primary);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 54px;
	flex: 0 0 54px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: var(--color-white);
	font-family: var(--font-oswald);
	font-size: 24px;
	font-weight: 500;
	margin-right: 30px;
}

.about-text .about-list li:nth-child(even) .count {
	background-color: var(--color-primary-2);
}

/*======= Skills =======*/
.single-skill-item .title {
	font-size: 20px;
	font-weight: 500;
	color: var(--color-white);
	text-transform: uppercase;
	line-height: 1.5;
	margin-top: 25px;
	text-align: center;
}

.single-skill-item .chart {
	width: 200px;
	height: 200px;
	position: relative;
	margin: auto;
}

.single-skill-item .chart span {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 84px;
	font-weight: 700;
	color: var(--color-white);
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--color-white);
}

/*======= Services =======*/
.single-service-box {
	position: relative;
	z-index: 1;
	padding-bottom: 15px;
	text-align: center;
}

.single-service-box .thumbnail {
	position: relative;
	text-align: center;
	width: 308px;
	height: 308px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
	z-index: 1;
}

.single-service-box .thumbnail::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0.25;
	z-index: 2;
}

.single-service-box .thumbnail img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.single-service-box .title {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: var(--color-white);
	padding: 22px;
	background: #ffffff;
	-webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);
}

.single-service-box .title::before,
.single-service-box .title::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 8px;
	background-color: var(--color-primary);
	opacity: 0.5;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.single-service-box .title::after {
	left: auto;
	right: 0;
}

.single-service-box:hover .title::before,
.single-service-box:hover .title::after {
	opacity: 1;
}

.single-service-box:hover .thumbnail img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/*======= Counter =======*/
.counter-section {
	background-color: #cee1ff;
	padding-top: 120px;
	padding-bottom: 80px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.counter-section::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 16px;
	top: -185px;
	width: 282px;
	height: 282px;
	border: 38px solid var(--color-white);
	border-radius: 50%;
}

.counter-section::after {
	content: "";
	position: absolute;
	z-index: -1;
	right: -100px;
	bottom: -100px;
	width: 332px;
	height: 308px;
	border: 40px solid var(--color-white);
	-webkit-transform: rotate(18.72deg);
	-ms-transform: rotate(18.72deg);
	transform: rotate(18.72deg);
}

.counter-item {
	margin-bottom: 40px;
}

.counter-item .counter-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px;
	font-family: var(--font-oswald);
	font-weight: 500;
	font-size: 60px;
	line-height: 1;
	color: var(--color-secondary);
}

.counter-item .title {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.4;
	text-align: center;
}

/*======= Projects =======*/
.project-filter {
	margin-bottom: 15px;
	overflow: hidden;
}

.project-filter ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -7.5px;
}

.project-filter ul li {
	font-size: 16px;
	line-height: 1.5;
	text-transform: capitalize;
	color: var(--color-secondary);
	background-color: #f6f6f6;
	border: 1px solid #e1e1e1;
	margin: 7.5px;
	padding: 7px 20px;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.project-filter ul li:hover,
.project-filter ul li.active {
	background-color: var(--color-primary);
	color: var(--color-white);
	border-color: transparent;
}

.project-loop .project-item {
	position: relative;
	margin-top: 30px;
	z-index: 1;
	border-radius: 15px;
	overflow: hidden;
}

.project-loop .project-item img {
	border-radius: 15px;
	width: 100%;
}

.project-loop .project-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: var(--color-primary);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.project-loop .project-item .hover-content {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.project-loop .project-item .hover-content .plus-icon {
	width: 90px;
	height: 90px;
	background-color: var(--color-white);
	border-radius: 50%;
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.project-loop .project-item .hover-content .plus-icon::before,
.project-loop .project-item .hover-content .plus-icon::after {
	position: absolute;
	content: "";
	height: 34px;
	width: 2px;
	background-color: var(--color-primary);
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.project-loop .project-item .hover-content .plus-icon::after {
	height: 2px;
	width: 34px;
}

.project-loop .project-item .title {
	color: var(--color-white);
	font-size: 20px;
	font-weight: 400;
	font-family: var(--font-roboto);
	line-height: 1.6;
	text-transform: uppercase;
	display: block;
	position: relative;
	padding: 8px 0;
	margin-top: 30px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.project-loop .project-item .title::before,
.project-loop .project-item .title::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	width: 0;
	background-color: var(--color-white);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.project-loop .project-item .title::after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}

.project-loop .project-item:hover::before {
	visibility: visible;
	opacity: 0.9;
}

.project-loop .project-item:hover .hover-content {
	opacity: 1;
	visibility: visible;
}

.project-loop .project-item:hover .hover-content .plus-icon {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.project-loop .project-item:hover .title {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.project-loop .project-item:hover .title::before,
.project-loop .project-item:hover .title::after {
	width: 100%;
}

/*======= Testimonial =======*/
.testimonial-box {
	position: relative;
	z-index: 1;
	padding: 75px 25px 45px;
	background-color: #e9f1ff;
	border-radius: 15px;
	text-align: center;
	margin-top: 40px;
}

.testimonial-box .content {
	font-style: italic;
}

.testimonial-box .author-info .name {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.testimonial-box .author-info .title {
	line-height: 1;
	color: #333333;
	font-size: 16px;
	margin-top: 10px;
}

.testimonial-box .author-info {
	line-height: 1;
	margin-bottom: 18px;
}

.testimonial-box .author-photo {
	margin-bottom: 20px;
	height: 88px;
	width: 88px;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: -40px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.testimonial-box .author-photo img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}

.testimonial-box .author-photo svg {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	fill: none;
}

.testimonial-box .author-photo path {
	fill: var(--color-primary);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.testimonial-box:hover .author-photo path {
	fill: var(--color-primary-2);
}

/*======= Latest Blog Post =======*/
.single-latest-post {
	border-radius: 15px;
	overflow: hidden;
}

.single-latest-post .thumbnail {
	overflow: hidden;
}

.single-latest-post .thumbnail img {
	width: 100%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.single-latest-post .post-meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	line-height: 1;
	padding: 18px 25px;
	background-color: var(--color-primary);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.single-latest-post .post-meta a {
	color: var(--color-white);
}

.single-latest-post .post-meta a i {
	margin-right: 8px;
}

.single-latest-post .title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 22px 25px;
	background-color: #cee1ff;
}

.single-latest-post:hover .thumbnail img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.single-latest-post:hover .post-meta {
	background-color: var(--color-primary-2);
}

/*======= Template Footer =======*/
.template-footer {
	padding-top: 130px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.template-footer .overlay {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;
	top: 60px;
	bottom: 50px;
	background-size: cover;
	background-position: center;
	opacity: 0.12;
}

.template-footer,
.template-footer a {
	color: var(--color-white);
}

.footer-content .mail-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
}

.footer-content .mail {
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
}

.footer-content .social-links {
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.footer-content .social-links li {
	margin: 0 7px;
}

.footer-content .social-links a {
	width: 55px;
	height: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #571cff;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.footer-content .social-links a:hover {
	background-color: var(--color-white);
	color: #571cff;
}

.footer-copyright {
	margin-top: 60px;
	font-weight: 500;
	line-height: 1.4;
}

/*=====================
    Responsive CSS
=======================*/
@media (max-width: 1799.98px) {
	.hero-area .hero-img {
		width: 740px;
		height: 690px;
	}

	.hero-area::before {
		width: 735px;
		height: 705px;
	}
}

@media (max-width: 1599.98px) {
	.hero-area {
		padding-top: 220px;
		padding-bottom: 120px;
	}

	.hero-area .hero-img {
		width: 720px;
		height: 650px;
		display: none;
	}

	.hero-area::before {
		width: 680px;
		height: 670px;
	}

	.navbar-nav {
		margin-left: 45px;
	}

	.template-header .navbar-nav .nav-item {
		margin-left: 10px;
	}

	.selected-flag i {
		color: var(--color-secondary);
	}
}

@media (max-width: 1399.98px) {
	.hero-area .hero-img {
		width: 650px;
		height: 620px;
	}

	.hero-area::before {
		width: 620px;
		height: 600px;
	}
}

@media (max-width: 1199.98px) {
	.about-text {
		padding-left: 40px;
	}

	.single-service-box .thumbnail {
		width: 260px;
		height: 260px;
	}
}

@media (max-width: 991.98px) {
	.about-text {
		padding-left: 0;
		padding-top: 60px;
	}

	.project-filter ul {
		margin: -5px;
	}

	.project-filter ul li {
		font-size: 15px;
		margin: 5px;
		padding: 7px 15px;
	}

	.template-header {
		padding: 25px 0;
	}

	.template-header.scroll-on {
		padding: 20px 0;
	}

	.template-header .navbar-toggler {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.template-header .navbar-nav .nav-item {
		margin-left: 0;
	}

	.template-header .navbar-nav .nav-item .nav-link {
		padding: 4px 10px 4px 0;
	}

	.navbar-nav {
		margin: 20px;
	}

	.navbar-collapse {
		background-color: var(--color-white);
		margin-top: 20px;
	}

	.dark-version .navbar-collapse {
		background-color: #181717;
	}

	.language-dropdown {
		margin-left: 30px;
	}

	.language-list.show-list {
		top: 164%;
	}
}

@media (max-width: 767.98px) {
	.hero-content .hero-title {
		font-size: 52px;
		line-height: 1.1;
		margin-bottom: 35px;
	}
}

@media (max-width: 575.98px) {
	.section-heading .title {
		font-size: 32px;
	}

	.about-img {
		padding: 40px 20px 0 40px;
	}

	.about-img::before {
		right: 20px;
		height: 10px;
	}

	.about-img::after {
		width: 10px;
	}

	.footer-content .mail-title {
		font-size: 18px;
	}

	.footer-content .mail {
		font-size: 24px;
	}

	.footer-content .social-links {
		margin-top: 30px;
	}
}

@media (max-width: 424.98px) {
	.about-text .about-list li .count {
		width: 50px;
		height: 50px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		margin-right: 20px;
		font-size: 18px;
	}

	.single-skill-item .chart span {
		font-size: 62px;
	}

	.counter-item .counter-wrap {
		margin-bottom: 20px;
		font-size: 42px;
	}

	.single-latest-post .post-meta {
		padding: 18px 20px;
	}

	.single-latest-post .title {
		font-size: 18px;
		padding: 22px 20px;
	}
}

/*======= Dark Version =======*/
.dark-version {
	background-color: var(--color-dark-bg);
	color: var(--color-dark-body);
}

.dark-version h1,
.dark-version h2,
.dark-version h3,
.dark-version h4,
.dark-version h5,
.dark-version h6,
.dark-version h1 a,
.dark-version h2 a,
.dark-version h3 a,
.dark-version h4 a,
.dark-version h5 a,
.dark-version h6 a,
.dark-version .section-heading .tagline,
.dark-version .single-skill-item .title,
.dark-version .counter-item .counter-wrap,
.dark-version .testimonial-box .author-info .name,
.dark-version .testimonial-box .author-info .title {
	color: var(--color-dark-heading);
}
.dark-version .sidebar-widget-area .widget.categories-widget ul.widget-link li a,
.dark-version .template-header .navbar-nav .nav-link,
.dark-version .template-header .navbar-nav .nav-item.active a,
.dark-version .template-header .navbar-nav .nav-link:focus,
.dark-version .template-header .navbar-nav .nav-link:hover,
.dark-version .selected-flag i {
	color: var(--color-white);
}
.dark-version .template-header .navbar-nav .nav-item.active a {
	color: var(--color-primary);
}
.dark-version .template-header.scroll-on {
	background-color: #181717;
}

.dark-version .template-header .navbar-toggler,
.dark-version .template-header .navbar-toggler-icon {
	border-color: var(--color-white);
}

.dark-version .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.dark-version .template-header .navbar-toggler-icon:after,
.dark-version .template-header .navbar-toggler-icon:before {
	background-color: var(--color-white);
}

.dark-version .hero-content p {
	color: var(--color-dark-body);
}

.dark-version .single-skill-item .chart span {
	color: var(--color-dark-heading);
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--color-dark-heading);
}

.dark-version .single-service-box .title {
	background: #282828;
}

.dark-version .counter-section {
	background-color: #171717;
}

.dark-version .counter-section::before,
.dark-version .counter-section::after {
	border-color: var(--color-dark-bg);
}

.dark-version .project-filter ul li {
	background-color: #171717;
	color: var(--color-dark-body);
	border-color: #1b1b1b;
}

.dark-version .project-filter ul li:hover,
.dark-version .project-filter ul li.active {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: var(--color-white);
}

.dark-version .testimonial-box {
	background-color: #171717;
	border: 1px solid #1b1b1b;
}

.dark-version .single-latest-post .title {
	background-color: #171717;
	border: 1px solid #1b1b1b;
	border-top: 0;
}

.dark-version label {
	color: #aaaaaa;
}

.dark-version input,
.dark-version textarea,
.dark-version select {
	border: 1px solid #515151;
	background-color: transparent;
	color: #aaaaaa;
}
.dark-version select option {
	background-color: #171717;
}
.dark-version input:focus,
.dark-version textarea:focus,
.dark-version select:focus {
	border-color: var(--color-dark-heading);
	color: var(--color-dark-heading);
}


/* inner page css  */

.breadcrumbs-section {
    background: linear-gradient(103.3deg, rgba(150, 87, 246, 0.35) 2.43%, rgba(0, 235, 172, 0.1) 46.64%, rgba(255, 147, 14, 0.1) 100%) !important;
    padding: 220px 0 110px !important;
}
/* .dark-breadcrumbs-section{
    background: linear-gradient(103.3deg, rgb(150, 87, 246) 2.43%, rgb(0, 235, 172) 46.64%, rgb(255, 147, 14) 100%);
} */
.breadcrumbs-section .page-title {
    text-align: center;
}
.breadcrumbs-section .page-title h1 {
    margin-bottom: 20px;
}
.breadcrumbs-section .page-title ul.breadcrumbs-link li {
    display: inline-block;
}
.breadcrumbs-section .page-title ul.breadcrumbs-link li:last-child:after {
    display: none;
}
.breadcrumbs-section .page-title ul.breadcrumbs-link li:after {
    content: "";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    margin-left: 10px;
    margin-right: 7px;
}

.dark-version .sidebar-widget-area .widget {
	background-color: #282828;
}

.service-item {
	text-align: center;
}
.sidebar-widget-area .widget.categories-widget ul.widget-link li a {
	color: var(--color-secondary);
}
.sidebar-widget-area .widget.categories-widget ul.widget-link li.active a{
	color: var(--color-primary);
}

.dark-version :is(
    .profile-card,
    .profile-sidebar-title,
    .profile-card .profile-link ul li a,
    .profile-edit, .profile-dashboard
)
{
    border-color: #515151;
}
.dark-version .dashboard-area *{
    color: #fff !important;
}

.dark-version :is(
    .pignose-calendar
) {
    background-color: #181818;
}
.dark-version :is(
    .dashboard-area .card-body,
    .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a,
    .pignose-calendar .pignose-calendar-top
) {
    background-color: #222222 !important;
}
.dark-version :is(
    .pignose-calendar,
    .pignose-calendar .pignose-calendar-top
) {
    border-color: #515151;
}
.dark-version :is(

    .dashboard-area .card-body .order_wrap_box *,
    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year,
    .pignose-calendar .pignose-calendar-header div.pignose-calendar-week
) {
    color: #fff !important;
}

